<?xml version="1.0"?>
<launch>

	<rosparam param="config/environment_size"> [-2,2,0,3] </rosparam>
	<rosparam param="config/random_battery_time"> [30,50] </rosparam>

	<node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>

	<node pkg="exprolab_1" type="initial_state.py" name="initial_state" launch-prefix="xterm -e" required="true"/>

	<node pkg="exprolab_1" type="reasoner.py" name="reasoner" launch-prefix="xterm -e" required="true"/>

	<node pkg="exprolab_1" type="planner.py" name="planner" launch-prefix="xterm -e" required="true"/>

    <node pkg="exprolab_1" type="controller.py" name="controller" launch-prefix="xterm -e" required="true"/>

    <node pkg="exprolab_1" type="battery.py" name="battery" launch-prefix="xterm -e" required="true"/> 

    <node pkg="exprolab_1" type="fsm.py" name="fsm" launch-prefix="xterm -e" required="true"/> 

</launch>